input {
    padding: 5px;
    margin: 10px;
}

.main-button {
    height: 100%;
    padding: 10px;
    width: 200px;
    font-size: x-large;
}
.sub-button {
    padding: 10px;
    font-size: x-small;
}