.snippet{
    margin-bottom: 10px;
    list-style: none;
    padding: 10px;
    border: 1px solid;
}
.snippet-tag{
    padding: 5px;
    margin-right: 5px;
    background-color: bisque;
    border-radius: 4px;
}
.snippet-description{
    border: 1px solid;
    margin-top: 10px;
    padding: 5px;
    background-color: rgba(255, 255, 241, 0.623);
}
.snippet-description p{
    font-size: 2rem;
}
.snippet-meta{
    padding: 5px;
    background-color: aliceblue;
    font-weight: bold;
    position: absolute;
    bottom: 0;
}